.dummy{
	color : black;
}
/*.heading-container{
    background: #FAFAFA;
}*/
.page-heading{
	font-family: 'Open Sans';
    font-style: normal;
    font-weight: 700;
    font-size: 20px;
    color: #2F2C3C;
}
.mp-progress-indicator{
	margin:20px;
}
body{
    font-family: 'Open Sans';
    font-style: normal;
}